 <%- include('../partials/header.ejs')%> 
     <div class="articles">
        <% for (let key  of map.keys()) { %>
          <% let connections= map.get(key)  %>	
            <h1><%= key %></h1><p>&nbsp;</p>
            <% if (connections.length>0) { %>
            <ul>
              <% connections.forEach(connection=> { %>
              <li>
                <a class=conn href="/connections/<%= connection.id%>" style= "text-decoration: none"><%= connection.name %></a>
              </li>				
            </ul>
            <p>&nbsp;</p>
            <% }) %>			
          <% } %>	
          <% } %>	
          </div>
  <%- include("../partials/footer.ejs") %>